<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>538604169315-ig5ujli8nvkcdu4ahl1tinfh1meg7o5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538604169315-ig5ujli8nvkcdu4ahl1tinfh1meg7o5i</string>
	<key>API_KEY</key>
	<string>AIzaSyDz8IUQ7c_HPp0vrdnXzoaR04btTFFQi4c</string>
	<key>GCM_SENDER_ID</key>
	<string>538604169315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Isometric.Meter</string>
	<key>PROJECT_ID</key>
	<string>meter-58a01</string>
	<key>STORAGE_BUCKET</key>
	<string>meter-58a01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:538604169315:ios:dd301cbfadab72db</string>
	<key>DATABASE_URL</key>
	<string>https://meter-58a01.firebaseio.com</string>
</dict>
</plist>